<footer class="footer-homepg">
    <div class="column-footer footer-text-description">
        <h5 class="footer-head"> About Us </h5>
        PopFlix Service is a one stop solution for all your entertainment needs.<br /><br /><br />
    </div>
    <div class="column-footer footer-text-description">
        <h5 class="footer-head"> Get in Touch </h5>
        <p class="footer-para">
            PopFlix Inc,<br />
            Mumbai - 400050<br />
            Phone: <a class="custom-white" href="tel:9999988888">9999988888</a><br />
            <!-- This will initiate a call from Mobile devices on clicking the link -->
        </p>
        Email: <a class="custom-white" href="mailto:abcservice@gmail.com">abcservice@gmail.com</a><br />
        <br />
        Fax:<br /><br /><br />
    </div>
    <div class="column-footer footer-text-description">
        <h5 class="footer-head"> Latest Posts </h5>
        <br />
        <hr color="#888"><br />
        <hr color="#888"><br />
        <hr color="#888"><br /><br />
    </div>
    <div class="column-footer footer-text-description">
        <h5 class="footer-head">Payment </h5>
        <br />
        Select from these options<br /><br />
    </div>
    </div>
</footer>
<div class="sub-footer">
    <strong>All Copyrights Reserved</strong>
    <div class="icon-holder">
        <button id="goUpbtn" class="white-text goUp" onclick="goUp();console.log(1)">&#8593;</button>
    </div>
</div>