<!-- Navigation Bar -->
<div class="nav row-fluid">
  <div class="column-6" align="left">
    <a href="/flix/home" class="brand">
      <h4 id="navhome"><span>Pop</span><span>Flix</span></h4>
    </a>
  </div>
  <div class="column-6" align="right">
    <ul type="none">
      <li>
        <a href="/user/book_flix" class="<%= pg==='book_flix'? 'on':'' %>"
          >Book Flix</a
        >
      </li>
      <li>
        <a href="/user/book_movie" class="<%= pg==='book_movie'? 'on':'' %>"
          >Book Movie</a
        >
      </li>
      <li>
        <a href="/flix/aboutus" class="<%= pg==='aboutus'? 'on':'' %>"
          >About Us</a
        >
      </li>
      <%if(user && user.type !== "Admin"){%>
      <li>
        <a href="/user/profile" class="<%= pg==='profile'? 'on':'' %>"
          >Profile</a
        >
      </li>
      <%}%> <%if(user && user.type==="Admin"){%>
      <li>
        <a href="/admin/home" class="login-nav">Admin</a>
      </li>
      <%}%>
    </ul>
  </div>
  <!-- <li class="dropdown"><a href="" class="dropbtn">User Menu </a>

	<div class="dropdown-content">
		<a href="#">Login</a><br>
		<a href="#">Profile</a>
	</div>
</li> -->
</div>
<!-- End of Navigation Bar -->
