body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  width: 100vw;
  overflow-x: hidden;
}
/* Profile  */

.prof-div{
  background-color: #262626;
  padding: 32px;
  height: 100%;
}
.popfile{
  background-color: #000a1a;
  margin: 1% 3%;
  height: 100%;
  border-radius: 3%;
}


input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}

/* Profile ends*/
.content {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

/* Grids and Alignments */
.column-footer {
  flex-grow: 1;
  width: 25%;
  padding: 30px 40px 30px 40px;
}

.row,
.row-sm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.row-fluid,
.row-fluid-sm {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.on {
  background-color: #262626;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}

#heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 120px;
  color: white;
  margin-left: 20%;
}

.site-heading {
  padding-top: 100px;
  padding-bottom: 170px;
  background-color: #121212;
  margin-bottom: 40px;
  text-shadow: 1px 1px 0px #292929;
  border-bottom: 5px solid gray;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
}

#heading span:first-child {
  color: #FF0000;
}

.sub-heading-home {
  margin-left: 23%;
  margin-top: 50px;
  font-size: large;
}

.heading-btns-home {
  margin-top: 30px;
  margin-left: 21%;
}

.hh {
  color: #ccc;
}

.column-9,
.column-sm-9 {
  flex-grow: 1;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-8,
.column-sm-8 {
  flex-grow: 1;
  width: 66.66%;
  padding-left: 10px;
  padding-right: 10px;
}


.column-6,
.column-sm-6 {
  flex-grow: 1;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}


.column-4,
.column-sm-4 {
  flex-grow: 1;
  width: 33.33%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-3,
.column-sm-3 {
  flex-grow: 1;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-2,
.column-sm-2 {
  flex-grow: 1;
  width: 16.66%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-1,
.column-sm-1 {
  flex-grow: 1;
  width: 8.33%;
  padding-left: 10px;
  padding-right: 10px;
}


@media screen and (max-width: 800px) {

  .row,
  .row-fluid {
    flex-direction: column;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-6,
  .column-8,
  .column-9 {
    width: 100%;
  }
}

.full-width {
  width: 100%
}


.arrow {
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  justify-content: center;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/* Card */

.card {
  border: 1px solid #aaa;
}

.card-header {
  font-size: 2.5em;
  font-family: fantasy;
  border-bottom: 1px solid #ccc;
}

.border-right {
  border-right: 2px solid #ccc;
}

.content-card {
  padding: 40px;
  font-family: Arial;
}
.content-card-2 {
  padding: 5px;
  font-family: Arial;
}

/* End */

.btn-curved {
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  border: 0px;
  font-weight: bold;
}

.login {
  transition: 1s;
}

.signup {
  transition: 1s;
  margin-left: 10px;
}

.login:hover {
  background-color: #f00;
  color: white;
  border-radius: 5px;
}

.signup:hover {
  background-color: white;
  color: #f00;
  border-radius: 5px;
}

/* URLS */
a.custom-white {
  color: #bbb;
  text-decoration: none;
}

a.custom-white:hover {
  color: white;
}

.white-text {
  color: white;
}

.red-text {
  color: #f00;
}

/*Date and Time Select page*/
.time-block {
  padding: 50px;
}


/*For arrow bg*/

.silver-bg {
  background-color: #bdbdbd;
}

/* End*/

.inp {
  padding: 6px 12px;
  color: #cccccc;
  border-color: #111119;
  border-radius: 6px;
  background-color: #262626;
  /* outline: none; */
}
nav ul{height:415px}
nav ul{overflow:hidden; overflow-y:scroll;}
ul, li { margin-left: 0; padding-left: 0; }
.btn-book-now {
  margin-top: 30px;
  transition: 1s;
  background-color: #f66;
  color: white;
}
.btn-book-now-2 {
  transition: 1s;
  background-color: #f66;
  color: white;
}
.btn-book-now-2:hover{
  border-radius: 5px;
  background-color: #f00;
}
.btn-book-now:hover {
  border-radius: 5px;
  background-color: #f00;
}

.bg-red {
  background-color: #f00;
  color: white;
}

.bg-white {
  background-color: #fff;
  color: red;
}


.input-text {
  border: 1px solid #ccc;
  outline: none !important;
  font-size: 14px;
  border-radius: 25px;
  margin-left: 40px;
  padding: 8px 15px 8px 20px;
  min-width: 250px;
}

.input-text:focus {
  border-color: #222;
}

.red-btn {
  padding: 9px 22px 9px 22px;
  background-color: #DF2626;
  border: 0px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}

.red-btn:hover {
  background-color: #FF0000;
}

/* Navbar */
/* Add a black background color to the top navigation bar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  z-index: 200;
}

.nav ul {
  display: inline-flex;
  /*To set margin-top: 0 , we need to keep the position as absolute*/
  top: 0;
  padding: 0;
  margin: 0px;
}

#navhome {
  font-family: 'Permanent Marker', cursive;
  /*font-size: 20px;*/
  color: white;
  margin: 0px 0px 0px 10px;
}
#profname{
  font-family:  cursive;
  word-spacing: 3%;
  /*font-size: 20px;*/
  color:  #bfbfbf;
  margin: 2% 2%; 
}


#navhome span:first-child {
  color: #FF0000;
}

/*To make the list elements horizontal*/
.nav li {
  float: left;
}

.login-nav {
  color: #f00 !important;
}

.login-nav:hover {
  background-color: #f00;
  color: white !important;
}

/* Style the links and Dropdown button inside the navigation bar */
.nav li a,
.nav .brand,
.dropbtn {
  display: inline-block;
  color: white;
  padding: 18px 25px;
  text-align: center;
  text-decoration: none;
  transition: .75s;
  /*To remove the hyperlink underline*/
}

.nav .brand {
  padding: 10px 10px;
  font-size: x-large;
  background-color: #121212 !important
}

/* Style the "active" element to highlight the current page */
.nav .active {
  background-color: #4CAF50;
}

/*To show the hover effect over link other than the active*/
.nav a:hover:not(.active) {
  color: #f00;
}

/* End of Navbar */

/* Add a background color when the inputs get focus */


/* Set a style for all buttons */

.s_inp {
  margin-top: 8px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 6px;
}


button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 32px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #181821;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* Footer */
#subscribe-news {
  margin-top: 50px;
  margin-bottom: 20px;
}


.footer-homepg {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 40px 10vw 40px 10vw;
  background-color: #181821;
  color: white;
  text-align: left !important;
  border-bottom: 1px solid gray;
}

.footer-head {
  color: #ddd;
  margin-bottom: 20px;
  font-size: 25px;
  color: #DF4f4f;
}

@media screen and (max-width: 900px) {
  .footer-head {
    margin-top: 60px;
  }
}

.footer-para {
  line-height: 20px;
}

.footer-text-description {
  padding-right: 50px;
}

.sub-footer {
  bottom: 0;
  left: 0;
  background: #111119;
  color: white;
  padding: 15px 40px 25px 20vw;
  font-size: 13px;
  color: #ccc;
}

.icon-holder {
  margin-left: 40vw;
  display: inline;
}

.sub-footer .fa {
  margin-left: 10px;
}

.sub-footer .fa:hover {
  color: white;
}

.goUp {
  background-color: inherit;
  border: 0px;
  border-radius: 50%;
  outline: none !important;
}

@media screen and (max-width: 768px) {
  .footer-homepg {
    flex-direction: column;
  }

  .column-footer {
    width: 80%;
  }
}

/* Footer End */