html {
  overflow-x: hidden;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  width: 100vw;
  overflow-x: hidden;
  background: #394255;
  background-image: linear-gradient(to right, #242936, #8ca2d1, #242936);
  /* background: -webkit-radial-gradient(center, #8ca2d1, #242936);
  background: -moz-radial-gradient(center, #8ca2d1, #242936);
  background: radial-gradient(ellipse at center, #8ca2d1 #242936); */
}

.effect5 {
  position: relative;
}

.effect5:before,
.effect5:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.effect5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/* Profile  */

.prof-div {
  background-color: #262626;
  padding: 32px;
  height: 100%;
}

.popfile {
  background-color: #121212;
  margin: 1% 3%;
  height: 100%;
  border-radius: 3%;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}

/* Profile ends*/
.content {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 1%;
    padding-right: 1%;
  }

  .arrow {
    clip-path: circle(20px) !important;
    padding: 15px !important;
    text-align: center;
  }

  .steps {
    margin-left: 2rem !important;
  }

  .dir-line {
    height: 0.5rem !important;
    width: 2.5rem !important;
  }
}

/* Grids and Alignments */
.column-footer {
  flex-grow: 1;
  width: 25%;
  padding: 30px 40px 30px 40px;
}

.drib {
  border: 5px solid hsl(0, 0%, 40%);

  /* #2 */
  padding: 5px;
  background: hsl(0, 0%, 20%);

  /* #3 */
  outline: 5px solid hsl(0, 0%, 60%);

  /* #4 AND INFINITY!!! (CSS3 only) */
  box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
}

.row,
.row-sm {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
  margin-left: 5%;
  margin-top: 3%;
  margin-right: 5%;
}

.row-fluid,
.row-fluid-sm {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.on {
  background-color: #262626;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}

#heading {
  font-family: 'Permanent Marker', cursive;
  font-size: 120px;
  color: white;
  margin-left: 20%;
}

.site-heading {
  padding-top: 100px;
  padding-bottom: 170px;
  background-color: #121212;
  text-shadow: 1px 1px 0px #292929;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
}

#heading span:first-child {
  color: #ff0000;
}

.sub-heading-home {
  margin-left: 23%;
  margin-top: 50px;
  font-size: large;
}

@media screen and (max-width: 768px) {
  .sub-heading-home {
    margin-left: 10%;
    font-size: larger;
  }

  #heading {
    margin-left: 10%;
    font-size: 60px;
  }
}

.heading-btns-home {
  margin-top: 30px;
  margin-left: 21%;
}

.hh {
  color: #ccc;
}

.column-9,
.column-sm-9 {
  flex-grow: 1;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-8,
.column-sm-8 {
  flex-grow: 1;
  width: 66.66%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-6,
.column-sm-6 {
  flex-grow: 1;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-4,
.column-sm-4 {
  flex-grow: 1;
  width: 33.33%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-3,
.column-sm-3 {
  flex-grow: 1;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-2,
.column-sm-2 {
  flex-grow: 1;
  width: 16.66%;
  padding-left: 10px;
  padding-right: 10px;
}

.column-1,
.column-sm-1 {
  flex-grow: 1;
  width: 8.33%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 800px) {
  .row,
  .row-fluid {
    flex-direction: column;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-6,
  .column-8,
  .column-9 {
    width: 100%;
  }

  .input-text {
    margin-top: 30px;
    width: fit-content;
  }

  .seacrh-btn {
    margin-top: 10px;
    width: 100%;
  }
}

.full-width {
  width: 100%;
}

.arrow {
  clip-path: circle(25px);
  display: inline;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.steps {
  margin-top: 8vh;
  margin-left: 25%;
}

.dir-line {
  display: inline-block;
  height: 0.5rem;
  width: 10rem;
}

/* Card */

.card {
  border: 1px solid #aaa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.card-header {
  font-size: 2.5em;
  font-family: 'Righteous', cursive;
  border-bottom: 1px solid #ccc;
}

.border-right {
  border-right: 2px solid #ccc;
}

.content-card {
  padding: 40px;
  font-family: sans-serif;
  background-color: #1d1e22;
}

.content-card-2 {
  padding: 5px;
  font-family: Arial;
}

.pict:hover {
  transition: 2s;
  transform: rotateX(360deg);
}

/* End */

.btn-curved {
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  border: 0px;
  font-weight: bold;
}

.login {
  transition: 1s;
}

.signup {
  transition: 1s;
  margin-left: 10px;
}

.login:hover {
  background-color: #f00;
  color: white;
  border-radius: 5px;
}

.signup:hover {
  background-color: white;
  color: #f00;
  border-radius: 5px;
}

/* URLS */
a.custom-white {
  color: #bbb;
  text-decoration: none;
}

a.custom-white:hover {
  color: white;
}

.white-text {
  color: white;
}

.red-text {
  color: #f00;
}

/*Date and Time Select page*/
.time-block {
  padding: 60px;
  background-color: #002e4d;
  box-shadow: 10px 10px 5px black;
}

.parallax {
  min-height: 720px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  position: relative;
}

/*For arrow bg*/

.silver-bg {
  background-color: #bdbdbd;
}

/* End*/

.inp {
  padding: 6px 12px;
  color: #cccccc;
  border-color: #111119;
  border-radius: 6px;
  background-color: #262626;
  /* outline: none; */
}

nav ul {
  height: 415px;
}

nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

.btn-book-now {
  margin-top: 30px;
  transition: 1s;
  background-color: #f66;
  color: white;
}

/* To remove background color overlay */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

.btn-position {
  text-align: right;
}

@media screen and (max-width: 768px) {
  /* .btn-book-now {
    margin-right: 50px;
  } */
  .btn-position {
    text-align: center;
    margin-left: 30px;
  }

  .btn-book-now {
    width: 100%;
    margin-right: 10px;
  }

  .full-width {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .content-card {
    width: 80%;
  }

  /* .btn-wid {
    padding-left: 44px;
    align-items: center;
  } */
  .border-right {
    border: none;
  }
}

.btn-book-now-2 {
  transition: 1s;
  background-color: #f66;
  color: white;
}

.btn-book-now-2:hover {
  border-radius: 5px;
  background-color: #f00;
}

.btn-book-now:hover {
  border-radius: 5px;
  background-color: #f00;
}

.bg-red {
  background-color: #f00;
  color: white;
}

.bg-white {
  background-color: #fff;
  color: red;
}

.input-text {
  border: 1px solid #ccc;
  outline: none !important;
  font-size: 14px;
  border-radius: 25px;
  margin-left: 40px;
  padding: 8px 15px 8px 20px;
  min-width: 250px;
}

.input-text:focus {
  border-color: #222;
}

.red-btn {
  padding: 9px 22px 9px 22px;
  background-color: #df2626;
  border: 0px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.red-btn:hover {
  background-color: #ff0000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Navbar */
/* Add a black background color to the top navigation bar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  z-index: 200;
}

.nav ul {
  display: inline-flex;
  /*To set margin-top: 0 , we need to keep the position as absolute*/
  top: 0;
  padding: 0;
  margin: 0px;
}

#navhome {
  font-family: 'Permanent Marker', cursive;
  /*font-size: 20px;*/
  color: white;
  margin: 0px 0px 0px 10px;
}

#profname {
  font-family: cursive;
  word-spacing: 3%;
  /*font-size: 20px;*/
  color: #bfbfbf;
  margin: 2% 2%;
}

#navhome span:first-child {
  color: #ff0000;
}

/*To make the list elements horizontal*/
.nav li {
  float: left;
}

#list-open {
  display: none;
  color: white;
}

#home-nav-mobile-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav ul {
    display: block;
    align-items: left;
  }

  .nav li {
    width: 100vw;
  }

  #nav-list {
    display: none;
  }

  #home-nav-mobile-only {
    display: block;
  }

  #list-open {
    display: block;
    position: absolute;
    z-index: 100;
    padding-left: 90vw;
    padding-top: 3vh;
  }

  form .row {
    border-style: solid;
    border-radius: 1rem;
    padding: 0.5rem;
  }

  .input-text {
    /* min-width: 100px !important;
    max-width: 140px; */
    width: 75%;
  }

  .seacrh-btn {
    width: 75%;
    margin-left: 40px;

    /* margin: 1rem;
    min-width: 100px !important; */
  }
}

.login-nav {
  color: #f00 !important;
}

.login-nav:hover {
  background-color: #f00;
  color: white !important;
}

/* Style the links and Dropdown button inside the navigation bar */
.nav li a,
.nav .brand,
.dropbtn {
  display: inline-block;
  color: white;
  padding: 18px 25px;
  text-align: center;
  text-decoration: none;
  transition: 0.75s;
  /*To remove the hyperlink underline*/
}

.nav .brand {
  padding: 10px 10px;
  font-size: x-large;
  background-color: #121212 !important;
}

/* Style the "active" element to highlight the current page */
.nav .active {
  background-color: #4caf50;
}

/*To show the hover effect over link other than the active*/
.nav a:hover:not(.active) {
  color: #f00;
}

/* End of Navbar */

/*Confirm ticket payment*/

@media screen and (max-width: 786px) {
  .ticket-frame {
    border-radius: -25px;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 90px;
    padding-bottom: 0px !important;
    width: 200px !important;
    height: 150px !important;
  }

  .card-header {
    padding-top: 1.5rem;

    font-size: 1rem;
  }

  .ticket-content {
    margin-top: 0 !important;
    margin-left: 4rem !important;
    font-size: 0.7rem !important;
  }
}

.ticket-frame {
  border-radius: -25px;
  padding-top: 80px;
  padding-left: 120px;
  padding-right: 90px;
  padding-bottom: 60px;
  width: 600px;
  height: 230px;
  background-image: url('/public/img/ticket.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ticket-content {
  margin-top: 30px;
  font-size: large;
}

/* Seat Booking */
.occupied {
  background-color: #aaa;
  background-image: url('/public/img/seat.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  color: white;
  filter: grayscale(100%);
  border: 0px;
  cursor: not-allowed;
}

.available {
  color: black;
  background-image: url('/public/img/seat.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  color: white;
  border: 0px;
  filter: opacity(60%);
  cursor: pointer;
}

.available:hover {
  filter: opacity(100%);
}

#Screen {
  text-align: center;
  background-color: #cdcdcd;
  padding: 10px 10px;
}

#seat-holder {
  padding: 10px;
}

/* Set a style for all buttons */

.s_inp {
  margin-top: 8px;
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 6px;
}

#signup-form label {
  font-weight: 600;
}

.muted {
  font-weight: 300;
  color: #ddd;
  font-size: 13px;
  margin-top: -15px;
  margin-bottom: 10px;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 32px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #181821;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

@media screen and (max-width: 786px) {
  .modal-content {
    background-color: #181821;
    margin: 5% 5% 15% 5%;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }

  .seacrh-btn {
    width: 90%;
  }
}

/* Footer */
#subscribe-news {
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-homepg {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 40px 10vw 40px 10vw;
  background-color: #181821;
  color: white;
  text-align: left !important;
  border-bottom: 1px solid gray;
}

.footer-head {
  color: #ddd;
  margin-bottom: 20px;
  font-size: 25px;
  color: #df4f4f;
}

@media screen and (max-width: 900px) {
  .footer-head {
    margin-top: 60px;
  }
}

.footer-para {
  line-height: 20px;
}

.footer-text-description {
  padding-right: 50px;
}

.sub-footer {
  bottom: 0;
  left: 0;
  background: #111119;
  color: white;
  padding: 15px 40px 25px 20vw;
  font-size: 13px;
  color: #ccc;
}

.icon-holder {
  margin-left: 40vw;
  display: inline;
}

.sub-footer .fa {
  margin-left: 10px;
}

.sub-footer .fa:hover {
  color: white;
}

/* .goUp {
  background-color: inherit;
  border: 0px;
  border-radius: 50%;
  outline: none !important;
} */
.goUp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* padding: 15px; */
  border: none;
  outline: none !important;
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#goUpbtn:hover {
  background-color: #c70000;
}

@media screen and (max-width: 768px) {
  .footer-homepg {
    flex-direction: column;
  }

  .column-footer {
    width: 80%;
  }
}

/* Footer End */

/* About Us */
.content-aboutUs {
  padding: 10px;
}

.line-spacing {
  line-height: 0%;
  font-size: x-large;
}

/* contact-btn */
.contact {
  transition: 1s;
}

.contact:hover {
  background-color: #f00;
  color: white;
  border-radius: 5px;
}

/* Table css */
table.customTable {
  width: 50%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.customTable td,
table.customTable th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #ffffff;
}

/* About Us Ends */

/* select_flix */
.border {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
}
