<%- include('../Includes/header.ejs') %> 
<body>
<%- include('../Includes/nav.ejs') %> 
	<div class="content row">
		<div class="column-3">
			<div class="arrow bg-red">
				Select Movie
			</div>
		</div>
		<div class="column-3">
			<div class="arrow bg-red">
				Show Time
			</div>
		</div>
		<div class="column-3">
			<div class="arrow bg-red">
				Select Seat
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Confirm Payment
			</div>
		</div>
	</div>
	<div align="center">
		<h2 class="card-header"> Select Your Seats </h2>
		<table border="1" cellspacing="10" cellpadding="0" id="seat-holder">
			<tbody id="Seats">
			</tbody>
		</table>
		<h3>
			Selected = <font color="#f00" id="seats_picked">0</font><br/>
			Total Cost = <font color="#f00" >Rs <font id="total_cost">0</font>/-</font>
		</h3>
		<a href="confirm-payment"><button class="btn-curved bg-red btn-book-now">Proceed to pay</button></a>
	</div>
	<script type="text/javascript">
	var res = [{
			id: 0,
			allocated: true
		},
		{
			id: 1,
			allocated: true
		},
		{
			id: 2,
			allocated: false
		},
		{
			id: 3,
			allocated: false
		},
		{
			id: 4,
			allocated: false
		},
		{
			id: 5,
			allocated: false
		},
		{
			id: 6,
			allocated: false
		},
		{
			id: 7,
			allocated: false
		},
		{
			id: 8,
			allocated: true
		},
		{
			id: 9,
			allocated: true
		},
		{
			id: 10,
			allocated: false
		},
		{
			id: 11,
			allocated: false
		},
		{
			id: 12,
			allocated: true
		},
		{
			id: 13,
			allocated: true
		},
		{
			id: 14,
			allocated: true
		},
		{
			id: 15,
			allocated: true
		},
	]
	var cost = 100;
	ctr = Math.sqrt(res.length)
	seat_table = document.getElementById("Seats");
	var seat_content = "";
	for (var x = 0; x < ctr; x++) {
		seat_content += "<tr>";
		for (var y = 0; y < ctr; y++) {
			if (res[x * 4 + y].allocated) {
				seat_content += "<td class='occupied'>" + res[x * 4 + y].id + "</td>";
			} else {
				seat_content += "<td class='available' onclick='selectSeat(event," + res[x * 4 + y].id + ")'>" + res[x * 4 + y].id + "</td>"
			}

		}
		seat_content += "</tr>";

	}
	seat_table.innerHTML = seat_content + "<tr> <td id='Screen' colspan='" + ctr + "'> Screen This Way</td> </tr>";
	var seats_selection = [];

	function selectSeat(evt, id) {
		if (seats_selection.includes(id)) {
			evt.srcElement.style.filter = "opacity(60%)";
			seats_selection = seats_selection.filter(function(value) { return value !== id; }); //Dekete Seat
		} else {
			evt.srcElement.style.filter = "opacity(100%)";
			seats_selection.push(id);
		}
		document.getElementById('seats_picked').innerHTML = seats_selection.length;
		document.getElementById('total_cost').innerHTML = seats_selection.length*cost;
	}
	</script>
	<%- include('../Includes/footer.ejs') %> 
</body>

</html>