<%- include('../Includes/header.ejs') %>

<body>
	<%- include('../Includes/nav.ejs') %>
	<div class="content row">
		<div class="column-3">
			<div class="arrow bg-red">
				Select Flix
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Show Time
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Select Seat
			</div>
		</div>
		<div class="column-3">
			<div class="arrow silver-bg">
				Confirm Payment
			</div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<input type="search" placeholder="Enter Flix Name" id="searchmovie" class="input-text full-width">
			<select class="input-text">
				<option>Region</option>
				<option value="Mumbai West">Mumbai West</option>
				<option value="Mumbai South">Mumbai South</option>
				<option value="Mumbai North">Mumbai North</option>
				<option value="Mumbai East">Mumbai East</option>
				<option value="Vasai">Vasai</option>
				<option value="Thane">Thane</option>
				<option value="Others">Others</option>
			</select>
			<button class="red-btn">Search</button>
		</div>
		<% for (x in theater) { %>
		<div class="row card">
			<div class="column-4 border-right content-card">
				<img src="/public/img/seat.png" width="80%">
			</div>
			<div class="column-8 content-card">
				<h2 class="card-header"> <%= theater[x].name%></h2>
				Rating: <span> </span>&#9733; <br />
				Now Showing: <a href="#"> Movie Name #1 </a> , <a href="#"> Movie Name #2 </a>
				<p> Address. Lorem ipsum cillum nostrud ullamco dolor est magna magna ut commodo fugiat enim ad ut.
					Magna sunt elit cupidatat esse duis ut sed est magna laboris est.</p>
				<div align="right">
					<a href="select_time"><button class="btn-curved btn-book-now"> Proceed </button></a>
				</div>
			</div>
		</div>
		<% } %>

		<!-- <div class="row card">
			<div class="column-4 border-right content-card">
				<img src="/public/img/seat.png" width="80%">
			</div>
			<div class="column-8 content-card">
				<h2 class="card-header"> PVR Juhu</h2>
				Rating: <span> 4.6 </span>&#9733; <br />
				Now Showing: <a href="#"> Movie Name #1 </a> , <a href="#"> Movie Name #2 </a>
				<p> Address. Lorem ipsum cillum nostrud ullamco dolor est magna magna ut commodo fugiat enim ad ut. Magna sunt elit cupidatat esse duis ut sed est magna laboris est.</p>
				<div align="right">
					<a href="select_time"><button class="btn-curved btn-book-now"> Proceed </button></a>
				</div>
			</div>
		</div> -->
	</div>
	<%- include('../Includes/footer.ejs') %>
</body>

</html>