<%- include('../Includes/header.ejs') %>
<style>
  @media screen and (max-width:786px){
    .column-6{
      width: auto;
    }
    .inp{
      width:70%
    }
    
  }
</style>
<body>
<%- include('../Includes/nav.ejs') %>
<div style="background: #f12711; 
background: -webkit-linear-gradient(to right, #883333, #f12711); 
background: linear-gradient(to right, #883333, #f12711);width: 100%;">
    <h1 style="margin-left: 3%;margin-right: 3%;padding-top: 3%; color:white;">ADMIN Dashboard</h1>
    <hr style="margin-left: 3%;margin-right: 3%;"/>
    <div class="row-fluid">
        <div class="column-6 popfile" align="center"  id="p2" style="margin-top:1%">
            <h1  style="margin-bottom: 3%;margin-top: 3%;color: blanchedalmond;">
               ADD MOVIE
            </h1>
        <form action="/admin/movie" method="POST" >
            <label for="fname" style="font-size:medium; color:#b3b3b3;margin-bottom: 5%;" >Movie Name</label><br/>
            <input class="inp" type="text" required name="name"><br><br>
            <label for="fname" style="font-size:medium; color:#b3b3b3;margin-bottom: 5%;" >Actor Name </label><br/>
            <input class="inp" type="text" pattern="^[A-Za-z ,]+" name="act_name" required><br><br><div class="muted" style="margin-right: 50px; color: #aaa">Seperate by comma</div><br/>
            <label for="fname" style="font-size:medium; color:#b3b3b3;margin-bottom: 5%;">Director Name</label><br/>
            <input class="inp" type="text" name="d_name" title="Only numbers, alphabets and spaces allowed" pattern="^[A-Za-z ]+" required><br><br>
            <label for="release_date"  style="font-size:medium ;color:#b3b3b3; margin-bottom: 5%;">Release Date</label><br/>
            <input type="date" class="inp" id="release_date" name="release_date" required><br/><br>
            <label for="lang"  style="font-size:medium ;color:#b3b3b3; margin-bottom: 5%;">Language</label><br/>
            <select id="lang" name="language" class="inp" style="padding-left: 8%;padding-right: 8%;" required>
                <option value="EN">English</option>
                <option value="Hi">Hindi</option>
                <option value="Ma">Marathi</option>
            </select><br><br>
            <label for="genre"  style="font-size:medium ;color:#b3b3b3; margin-bottom: 5%;">Genre</label><br/>
            <select id="genre" class="inp" name="genre" style="padding-left: 8%;padding-right: 8%;" required>
                <option value="Action">Action</option>
                <option value="Drama">Drama</option>
                <option value="Romance">Romance</option>
                <option value="Comedy">Comedy</option>
                <option value="Thriller">Thriller</option>
                <option value="Suspence">Suspence</option>
            </select>
            <h3 style="margin-top: 2%;margin-bottom: 4%;"align="center"><button class="btn-curved bg-red signup" onclick="showUpdate()">ADD MOVIE</button></h3>
          </form>
        </div>
       
            <div class="column-6 popfile" align="center"  id="p2" style="margin-top:1%">
                <h1  style="margin-bottom: 3%;margin-top: 3%;color: blanchedalmond;">
                   ADD FLIX
                </h1>
            <form action="/admin/theater" method="POST" >
                <label for="fname" style="font-size:medium; color:#b3b3b3;margin-bottom: 5%;">Theater Name</label><br/>
                <input class="inp" type="text"  name="name" pattern="^[A-Za-z ]+" minlength="2" required="true"><br><br>
                <label for="release_date"  style="font-size:medium ;color:#b3b3b3; margin-bottom: 5%;">Location</label><br/>
                <input type="text" class="inp" id="location" name="location" pattern="^[0-9A-Za-z ,]+" title="Only numbers, alphabets and comma allowed" minlength="2" required><br/><br>

                <label for="release_date"  style="font-size:medium ;color:#b3b3b3; margin-bottom: 5%;">Rating</label><br/>
                <input type="number" class="inp" min="0" max="5" step="0.1" id="rating" name="rating" required><br/><br>
                <label for="release_date"  style="font-size:medium ;color:#b3b3b3; margin-bottom: 1%;">Password</label><br/>
                <input type="text" id="password" name="password" minlength="8" class="inp" required><br/><br>


                <input type="checkbox" onclick="showPassword()" checked><span class="muted">Show Password</span>
                <h3  style="margin-top: 3%;margin-bottom: 4%;"align="center"><button class="btn-curved bg-red signup" onclick="showUpdate()">ADD FLIX</button></h3>
              </form>
            </div>
        </div>
</div>
<script type="text/javascript">
    function showPassword(){
        var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
    }
</script>

<%- include('../Includes/footer.ejs') %> 
</body>    
</html>